@media screen and (min-width: 200px) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-container.open {
    display: flex;
  }

  /* Styling for the modal content */
  .modal-content {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* Enable scrolling within the modal content */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    overflow: hidden;
  }

  .closebtnicon {
    display: flex;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .closeicon {
    cursor: pointer;
  }

  .authcontent {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
  }

  .openai-logo {
    height: 7%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .openaiLogo {
    height: 100%;
  }

  .authfields {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .inp {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #c2c8d0;
    font-family: "Sohne Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
    padding-left: 20px;
  }

  .inp:focus {
    border: 1px solid #0e9272;
  }

  .input-label {
    position: absolute;
    left: 5%;
    transform: translateY(-550%);
    color: #c2c8d0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .signup-text {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 8px;
    line-height: 14px;
    color: black;
    text-wrap: nowrap;
  }

  .lineorline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .welcomeText {
    color: black;
    font-size: 15px;
  }

  .orline-line {
    width: 100px;
    border: none;
    height: 1px;
    background-color: #c2c8d0;
  }

  .orline-or {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 8px;
    line-height: 12px;
    color: black;
  }

  .green-text {
    color: #0e9272;
    cursor: pointer;
  }

  .auth-btn {
    height: 45px;
    width: 225px;
    border-radius: 5px;
    border: none;
    background-color: #0e9272;
    font-family: "Sohne Bold";
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
  }

  .modal-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #c2c8d0;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .inp:focus + .input-label {
    transform: translateY(-640%) scale(0.7);
    left: 1%;
    background-color: #fff;
    color: #0e9272;
  }
}

@media screen and (min-width: 640px) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-container.open {
    display: flex;
  }

  /* Styling for the modal content */
  .modal-content {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* Enable scrolling within the modal content */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    overflow: hidden;
  }

  .closebtnicon {
    display: flex;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .closeicon {
    cursor: pointer;
  }

  .authcontent {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
  }

  .openai-logo {
    height: 7%;
    width: 10%;
  }

  .openaiLogo {
    height: 100%;
  }

  .authfields {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .inp {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #c2c8d0;
    font-family: "Sohne Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
    padding-left: 20px;
  }

  .inp:focus {
    border: 1px solid #0e9272;
  }

  .input-label {
    position: absolute;
    left: 5%;
    transform: translateY(-550%);
    color: #c2c8d0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .signup-text {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    color: black;
    text-wrap: nowrap;
  }

  .lineorline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .welcomeText {
    color: black;
    font-size: 20px;
  }

  .orline-line {
    width: 150px;
    border: none;
    height: 1px;
    background-color: #c2c8d0;
  }

  .orline-or {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    color: black;
  }

  .green-text {
    color: #0e9272;
    cursor: pointer;
  }

  .auth-btn {
    height: 45px;
    width: 275px;
    border-radius: 5px;
    border: none;
    background-color: #0e9272;
    font-family: "Sohne Bold";
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
  }

  .modal-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #c2c8d0;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .inp:focus + .input-label {
    transform: translateY(-640%) scale(0.7);
    left: 1%;
    background-color: #fff;
    color: #0e9272;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* Semi-transparent background */
    display: none;
    /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Ensure the modal appears above other content */
  }

  /* Styling to show the modal when it's open */
  .modal-container.open {
    display: flex;
  }

  /* Styling for the modal content */
  .modal-content {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* Enable scrolling within the modal content */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    overflow: hidden;
  }

  .closebtnicon {
    display: flex;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .closeicon {
    cursor: pointer;
  }

  .authcontent {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
  }

  .openai-logo {
    height: 7%;
    width: 10%;
  }

  .openaiLogo {
    height: 100%;
  }

  .authfields {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .inp {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #c2c8d0;
    font-family: "Sohne Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
    padding-left: 20px;
  }

  .inp.invalid {
    border: 1px solid red;
  }

  .inp:focus {
    border: 1px solid #0e9272;
  }

  .input-label {
    position: absolute;
    left: 5%;
    transform: translateY(-560%);
    color: #c2c8d0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .signup-text {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 14px;
    line-height: 14px;
    color: black;
    text-wrap: nowrap;
  }

  .lineorline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .welcomeText {
    color: black;
    font-size: 20px;
  }

  .orline-line {
    width: 220px;
    border: none;
    height: 1px;
    background-color: #c2c8d0;
  }

  .orline-or {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 12px;
    line-height: 12px;
    color: black;
  }

  .green-text {
    color: #0e9272;
    cursor: pointer;
  }

  .auth-btn {
    height: 45px;
    width: 325px;
    border-radius: 5px;
    border: none;
    background-color: #0e9272;
    font-family: "Sohne Bold";
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
  }

  .modal-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #c2c8d0;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .inp:focus + .input-label {
    transform: translateY(-662%) scale(0.7);
    left: 1%;
    background-color: #fff;
    color: #0e9272;
  }
}

@media screen and (min-width: 1024px) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* Semi-transparent background */
    display: none;
    /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Ensure the modal appears above other content */
  }

  /* Styling to show the modal when it's open */
  .modal-container.open {
    display: flex;
  }

  /* Styling for the modal content */
  .modal-content {
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    /* Enable scrolling within the modal content */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space;
    overflow: hidden;
  }

  .closebtnicon {
    display: flex;
    height: 5%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .closeicon {
    cursor: pointer;
  }

  .authcontent {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 11px;
  }

  .openai-logo {
    height: 7%;
    width: 10%;
  }

  .openaiLogo {
    height: 100%;
  }

  .authfields {
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }

  .inp {
    height: 40px;
    width: 333px;
    border-radius: 5px;
    border: 1px solid #c2c8d0;
    font-family: "Sohne Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    outline: none;
    padding-left: 20px;
  }

  .inp:focus {
    border: 1px solid #0e9272;
  }

  .input-label {
    position: absolute;
    left: 20%;
    transform: translateY(-570%);
    color: #c2c8d0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .signup-text {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 14px;
    line-height: 14px;
    color: black;
    text-wrap: nowrap;
  }

  .lineorline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .orline-line {
    width: 220px;
    border: none;
    height: 1px;
    background-color: #c2c8d0;
  }

  .orline-or {
    font-family: "Sohne Bold";
    font-weight: 100;
    font-size: 12px;
    line-height: 12px;
  }

  .green-text {
    color: #0e9272;
    cursor: pointer;
  }

  .auth-btn {
    height: 45px;
    width: 357px;
    border-radius: 5px;
    border: none;
    background-color: #0e9272;
    font-family: "Sohne Bold";
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
  }

  .modal-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #c2c8d0;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* This CSS snippet keeps the label at the top when there's a value in the input */
  .inp:not(:placeholder-shown) + .input-label,
  .inp:focus + .input-label {
    transform: translate(130%, -660%) scale(0.7);
    left: 1%;
    background-color: #fff;
    color: #0e9272;
  }
  .inp:not(:placeholder-shown) + .input-label.invalid,
  .inp:focus + .input-label.invalid {
    color: red;
  }

  .stage-2-email-label {
    position: absolute;
    left: 20%;
    transform: translateY(-190%);
    color: #c2c8d0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .stage-2-password-label {
    position: absolute;
    left: 20%;
    transform: translateY(60%);
    color: #c2c8d0;
    pointer-events: none;
    transition: 0.3s ease-out;
  }

  .inp:focus + .stage-2-password-label {
    transform: translateY(-40%) scale(0.7);
    left: 100px;
    background-color: #fff;
    color: #0e9272;
  }
  .inp:focus + .stage-2-email-label {
    transform: translateY(-290%) scale(0.7);
    left: 100px;
    background-color: #fff;
    color: #0e9272;
  }
  .invalid-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: red;
  }
}

.hidden {
  display: none;
}
