@media screen and (min-width: 200px) {
  .termnpolicy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 200;
    word-spacing: -1px;
    color: black;
    line-height: 16px;
    cursor: pointer;
  }

  .footer-line {
    transform: rotate(90deg);
    width: 5px;
  }

  .modal-footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    word-spacing: -1px;
    color: #0e9272;
    line-height: 16px;
    cursor: pointer;
  }
}

@media screen and (min-width: 640px) {
  .termnpolicy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 200;
    word-spacing: -1px;
    color: black;
    line-height: 16px;
    cursor: pointer;
  }

  .footer-line {
    transform: rotate(90deg);
    width: 5px;
  }

  .modal-footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    word-spacing: -1px;
    color: #0e9272;
    line-height: 16px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .termnpolicy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .footerLink {
    font-family: "Sohne Bold";
    font-size: 9px;
    text-decoration: underline;
    font-weight: 200;
    word-spacing: -1px;
    color: black;
    line-height: 16px;
    cursor: pointer;
  }

  .footer-line {
    transform: rotate(90deg);
    width: 5px;
  }

  .modal-footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    word-spacing: -1px;
    color: #0e9272;
    line-height: 16px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .termnpolicy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    word-spacing: -1px;
    color: black;
    line-height: 16px;
  }

  .footer-line {
    transform: rotate(90deg);
    width: 5px;
  }

  .modal-footerLink {
    font-family: "Sohne Bold";
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    word-spacing: -1px;
    color: #0e9272;
    line-height: 16px;
    cursor: pointer;
  }
}
