.Dashboard-Grid-Container {
  height: fit-content;
}
.Child-Grid-Container {
  height: fit-content;
}

.Child-Grid-Item {
  height: 100vh;
}

.Item-Child-Grid-Item {
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

.openai-logo-circle {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: 14vw;
  gap: 10px;
}

.left-openai-spiral {
  height: 60%;
  width: 60%;
}

.left-item-text {
  font-size: 1vw;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-div-bottom {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-alignment {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  gap: 5px;
}

.icon-hover {
  border-radius: 20%;
  padding: 2px;
}
.icon-hover:hover {
  background-color: black;
}

.chatgpt-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 10%;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.chatgpt-heading:hover {
  background-color: #202123;
  border-radius: 10px;
}

.heading {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.light-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #c5c5d2;
}

.Hero-Item-Child-Grid-Item {
  margin-top: 30px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 100%;
}

.hero-openai-logo-circle {
  background-color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: larger;
}

.chat-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: clamp(100%, 100%, 100%);
  height: 100%;
  gap: 15px;
}

.chat-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 25%;
  gap: 10px;
}

.custom-chat {
  border: 1px solid #c5c5d2;
  text-align: left;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.custom-chat:hover {
  background: #2a2b35;
}

.custom-chat-heading {
  width: fit-content;
  font-size: 1vw;
  padding: 0;
  font-weight: 800;
  margin: 0;
  height: 25px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
}
.custom-chat-prompt {
  width: fit-content;
  font-size: 1vw;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-input-div {
  border: 1px solid #c5c5d2;
  text-align: left;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-chat-input {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.submit-prompt-btn {
  width: 20%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  background: #56565a;
  color: #343541;
  border: 1px solid #56565a;
  padding: 4px;
}

.submit-prompt-btn:hover {
  border: 1px solid #c5c5d2;
  background: #343541;
  color: #c5c5d2;
}

.Hero-Item-Child-Grid-Item-short {
  margin-top: 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-input-div-short {
  border: 1px solid #c5c5d2;
  text-align: left;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-group-container {
  height: 70vh;
}

.chat-group-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
}

.chat-group-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-group-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prompt {
  color: white;
  text-align: left;
  margin-top: 5%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 60%;
  height: fit-content;
  overflow-wrap: break-word;
}

.response {
  color: white;
  text-align: left;
  height: fit-content;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 60%;
}

.prompt-text {
  font-size: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.response-text {
  font-size: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  max-width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.pr-icon {
  height: 20px;
  margin-top: 1%;
}

.sender-name {
  font-weight: 800;
}

.chatGroups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 15px;
  height: 70%;
  border: 2px solid red;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.chatGroups::-webkit-scrollbar {
  display: none;
}

.chat-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-height: 6vh;
  width: 85%;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  background-color: transparent;
}
.chat-group:hover {
  background: #2a2b35;
}

.selected {
  background: #2a2b35;
}

.left-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 98vh;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #202123;
}

.left-menu-item {
  color: white;
}

@media (max-width: 768px) {
  .heading {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .light-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #c5c5d2;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .heading {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .light-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #c5c5d2;
  }
}
